@use "../../App.scss";

.favorite {
  &__section {
    @include App.stylesForCartAndFavPage;
  }
  &__list {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    flex-wrap: wrap;
  }
}
