@use "../../App.scss";

.modal {
  height: 100vh;
  width: 100vw;
  background-color: #00000066;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
}

.modal.active {
  transform: scale(1);
}

.modal_content {
  width: 600px;
  height: 350px;
  box-shadow: 0 10px 20px #0000004d;
  border-radius: 30px;
  position: relative;
}

.modal-header {
  margin: 0;
  font-size: 26px;
  padding: 25px 25px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 400;
  background-color: #bd5d5d;
  border-radius: 30px 30px 0px 0px;
}

.modalTextContent {
  padding: 40px 40px 100px 40px;
  line-height: 34px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 300;
  font-size: 20px;
}

.modal-closeButton {
  position: absolute;
  color: #f0ffff;
  padding: 2px 7px;
  top: 21px;
  right: 23px;
  border: 1px solid #ad2525;
  border-radius: 4px;
  cursor: pointer;
  font-size: 22px;
  transform: scale(0);
  &:hover {
    color: #ad2525;
    border: 1px solid #130307;
    transform: translateY(-2px);
    box-shadow: 0 10px 20px #00000033;
  }
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px #00000033;
  }
}

.modal-closeButton.toClose {
  transform: scale(1);
}
  
.btnsForModal {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0 auto;
}

.actionForModal {
  @include App.button;
}
  