* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #319db0;
}

@mixin button {
  display: block;
  background-color: #319db0;
  margin-left: 15px;
  padding: 10px 25px;
  border-radius: 4px;
  border: 1px solid #bc32554d;
  color: #f4cbcc;
  font-size: 20px;
  cursor: pointer;

  &:hover {
    color: #ffffff;
    border: 1px solid #130307;
    box-shadow: 0 10px 20px #00000033;
  }
  
  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px #00000033;
  }
}
@mixin emptyCartOrFavPage {
  margin: 100px;
  padding: 50px 0px;
  border: 1px solid #332626;

  &__text {
    color: white;
    font-size: 35px;
    text-align: center;
    margin-bottom: 60px;
  }

  &__svg {
    display: block;
    margin: auto;
  }
}
@mixin stylesForCartAndFavPage {
  margin: 30px 0px;
  padding: 30px 0px;
  border-top: 1px solid #332626;
  border-bottom: 1px solid #332626;
}

